/*Shared CSS*/
.titlebar{ /* creates a blue bar for the top of the page*/
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 100px;
    background-color: #5caebd;
    padding: 0%;
    margin: 0%;
    width: 100%;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border-width: 6px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #ffffff;

    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.3);
}

h3{
    font-size: 24pt;
}

h2{
    font-size: 20pt;
}

h1{
    font-size: 16pt;
}

body {
    margin: 0; /* this prevents white border around whole page*/
    padding: 0;
    border:0;
    background: linear-gradient(#a0e7ec 60%, #72b6bb);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed; /*How can I get the background to just cover everything without being fixed like this?*/
}

.centered{ /* centers everything */
    text-align: center;
    justify-content: center;
}

* {
    font-family: "OpenDyslexic", "Comic Sans MS", "Arial";
}

@font-face {
    font-family: OpenDyslexic; /* A font friendly to dyslexic folk and that has a fun bubbly vibe to match the site */
    src: url("/fonts/open_dyslexic/OpenDyslexic-Regular.otf");
}

html, body {
    height: 100%;
    margin: 0;
}

/*Dropdown Menu*/
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-title {
    margin: 0;
    padding: 8px 12px;
    font-weight: bold;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #a0e7ec;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border: 2px solid #5caebd;
    border-radius: 6px;
    width: 120px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.gameimg img:hover {/* helps user identify images as links*/
      opacity: 60%;
      transform: scale(1.05);
}
.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #90e1e7;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Game grid and images*/
.gameimg img{
    border-radius: 20px;
    border: solid;
    border-width: 12px;
    border-color: rgb(255, 255, 255);
    image-rendering: pixelated;
}

.singlegame{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 420px;
    place-items: center;
    justify-content: center;
}

.gamegrid{ /* holds multiple games in contained area */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 420px auto auto;
    text-align: center;
    justify-content: center;
    place-items: center;
}

#gridtop{ /* for group title section */
    grid-column: 1/4;
    grid-row: 1/2;
}

#gridbottom{/* for descriptions */
    grid-row: 4/5;
    grid-column: 1/4;
}

#devdesctop{
    font-size: 24pt;
    text-decoration: underline;
    grid-column: 1/3;
    grid-row: 1/3;
}

.devdesc{ /* grid for contact info/credits */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    justify-content: center;
    place-items: center;
    margin-top: 80px;
}

#Gdesc, #ScaledDesc{ /* custom backgrounds for personality/credits */
    background-color: #5caebd;
    border-style: solid;
    width: 100%;
    border-color: #ffffff;
    color: #ffffff;
    height: 600px;
    border-width: 12px;
    border-radius: 20px;
    box-sizing: border-box;
}

.devdesc a:link{
    color: #f3a6e6;
}
.devdesc a:visited{
    color: #db76d3;
}
.devdesc a:hover{
    color: #ac1cb1;
}

.backgroundGame{ /* display a screenshot behind hovered game */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    place-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

/*404 page*/
#error404 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #236672;
}

#error404 h3 {
    font-size: 80pt;
    margin: 0;
}

#error404 a {
    font-size: 30pt;
    margin: 0;
}

footer{
    position: fixed;
    width: 100%;
}
